# Dependency directories
node_modules/

# Output directories
dist/
build/

# Environment files
.env
.env.local

# Log files
*.log

# Editor and IDE files
.vscode/
.idea/

# User-specific files and directories
.DS_Store
Thumbs.db

# Compiled TypeScript files
*.js
*.js.map
*.d.ts
*.tsbuildinfo
